{% extends "base1.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="loader"></div>
<div id="account-account" class="container">
	<ul class="breadcrumb">
		<li><a href="/">home</a></li>
		<li><a href="/customer/my_account/">My Account</a></li>
		<li><a href="/change_password/">Change Password</a></li>
	</ul>
		<div class="row">
			<div id="content" class="col-sm-12">
                <h2>Change Password</h2>
                <legend>Change password</legend>
				<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
					{% csrf_token %}
					{{ form|crispy }}
					<button type="submit" class="btn btn-primary">{% trans "Change Password" %} &raquo;</button>
				</form>
            </div>
		</div>
	</div>
{% endblock %}




