{% extends "partner/partner.html" %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="wrapper">
  <div class="page-wrapper">
    <div class="content-wrapper">
      <div class="content">							
	      <div class="row">
					<div class="col-12">
						<div class="card card-default">
							<div class="card-header card-header-border-bottom d-flex justify-content-between">
								<h2>Delivered Orders</h2>
							</div>

							<div class="card-body">
                <div class="hoverable-data-table">
									<table id="hoverable-data-table" class="table table-hover nowrap" style="width:100%">
										<thead>
											<tr>
                        <th>Item</th>
                        <th>Customer</th>
                        <th>Rider</th>
                        <th>Charge</th>
                        <th>Total</th>
                        <th>Date</th>
											</tr>
										</thead>

                    <tbody>
                      {% for delivered in dlv %}
                        <tr>    
                          <td style="display: block;">
                            {% for items in delivered.items.all %}
                              {{items.quantity}}pc. ({{items.item.title}} {{items.item.price}}) in {{items.partnerstore.store}}<br>
                            {% endfor %}
                          </td>

                          <td>{{delivered.user.customer.first_name}} {{delivered.user.customer.middle_name}} {{delivered.user.customer.last_name}} {{delivered.user.customer.suffix}}<br>
                            {{delivered.user.customer.contact}}
                          </td>

                          <td>{{delivered.rider.first_name}} {{delivered.rider.middle_name}} {{delivered.rider.last_name}} {{delivered.rider.suffix}}<br>
                            {{delivered.rider.contact}}
                          </td>
                          <td>Service charge: {{delivered.service_charge}}<br>
                            Other: {{delivered.surcharge}}
                          </td>
                          <td>{{delivered.total}}</td>

                          <td>{{delivered.date_ordered}}</td>
                      
                        </tr>
                      {% endfor %}
                    </tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>

    <footer class="footer mt-auto">
      <div class="copyright bg-white">
        <p> &copy; 
          <span id="copy-year">2021</span> Copyright Sulogoon Dashboard    
        </p>
      </div>
    </footer>
  </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
  jQuery(document).ready(function() {
    jQuery('input[name="dateRange"]').daterangepicker({
    autoUpdateInput: false,
    singleDatePicker: true,
    locale: {
      cancelLabel: 'Clear'
    }
  });
  
    jQuery('input[name="dateRange"]').on('apply.daterangepicker', function (ev, picker) {
      jQuery(this).val(picker.startDate.format('MM/DD/YYYY'));
    });
    jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
      jQuery(this).val('');
    });
  });

  jQuery(document).ready(function() {
    jQuery('#hoverable-data-table').DataTable({
      "aLengthMenu": [[20, 30, 50, 75, -1], [20, 30, 50, 75, "All"]],
      "pageLength": 20,
      "dom": '<"row justify-content-between top-information"lf>rt<"row justify-content-between bottom-information"ip><"clear">'
    });
  });

  var d = new Date();
    var year = d.getFullYear();
    document.getElementById("copy-year").innerHTML = year;
</script>
{% endblock extra_scripts %}