{% extends 'base1.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="loader"></div>
<div id="account-edit" class="container">
    <ul class="breadcrumb">
        <li><a href="/">home</a></li>
        <li><a href="/customer/my_account/">My Account</a></li>
        <li><a href="/customer/edit_address/">Edit Address</a></li>
    </ul>
    <div class="row">
        <aside id="column-left" class="col-sm-3 hidden-xs">
            <div class="account-content">
                <div class="box-content">
                    <div class="list-group">
                        <h3 class="toggled">Account</h3>
                        <ul class="list-unstyled">
                            <li><a href="/customer/my_account/" class="list-group-item">My Account</a></li>
                            <li><a href="/customer/edit_information/" class="list-group-item">Edit Account</a></li>
                            <li> <a href="{% url 'core:change_password' %}" class="list-group-item">Edit password</a>
                            </li>
                            <li><a href="/customer/edit_address/" class="list-group-item">Edit Address</a></li>
                            <li><a href="/customer/order_history/" class="list-group-item">Order History</a></li>
                            <li><a href="https://opencart.mahardhi.com/MT03/food/index.php?route=account/logout"
                                    class="list-group-item">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <div class="box-content">
                    <h3 class="box-content toggled">Information</h3>
                    <ul class="list-unstyled">
                        <li><a
                                href="https://opencart.mahardhi.com/MT03/food/index.php?route=information/information&amp;information_id=4">About
                                Us</a></li>
                        <li><a
                                href="https://opencart.mahardhi.com/MT03/food/index.php?route=information/information&amp;information_id=3">Privacy
                                Policy</a></li>
                        <li><a
                                href="https://opencart.mahardhi.com/MT03/food/index.php?route=information/information&amp;information_id=5">Terms
                                &amp; Conditions</a></li>
                        <li><a href="https://opencart.mahardhi.com/MT03/food/index.php?route=information/contact">Contact
                                Us</a></li>
                        <li><a href="https://opencart.mahardhi.com/MT03/food/index.php?route=information/sitemap">Site
                                Map</a></li>
                    </ul>
                </div>
            </div>

        </aside>

        <div id="content" class="col-sm-9">
            <h2>Edit address</h2>
            <legend>Your Address</legend>

            <input class="search-location"
                style="border: 1px solid #ced4da !important;width: 100%;padding: 12px 20px; margin: 8px 0;box-sizing: border-box;"
                id="srchBox" type="text" size="50%" placeholder="Search Location" oninput="onTyping(this)" />
            <ul id="search-result"></ul>
            <br>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="lat1" id="lat1" value="{{customer.latitude}}">
                <input type="hidden" name="lon1" id="lon1" value="{{customer.longitude}}">
                <p>Drag the marker to your address
                    or just click/press on the map.</p>
                <div id="map" style="height: 400px; width: 100%;"></div>
                <br>

                <div class="form-group mb-4">
                    <span>Complete Address:</span>
                    <input type="text"
                        style="border: 1px solid #ced4da !important;width: 100%;padding: 12px 20px; margin: 8px 0;box-sizing: border-box;"
                        id="complete_address" name="complete_address" value="{{customer.complete_address}}"
                        required="True" placeholder="Purok, Barangay, City/Municipal, Province..">
                </div>
                <div class="form-group mb-4">
                    <span>Address Line 2:</span>
                    <input type="text"
                        style="border: 1px solid #ced4da !important;width: 100%;padding: 12px 20px; margin: 8px 0;box-sizing: border-box;"
                        id="address_line_2" name="address_line_2" value="{{customer.address_line_2}}"
                        placeholder="Street, Building, etc..">
                </div>
                <p>* The address you provided above will be automatically set as your default delivery address.</p>
                <hr>
                <button onclick="myFunction()" type="submit" name="btnAddress" class="btn btn-primary">Save Address
                    &raquo;</button>
                <hr><br><br>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<script>

    var lat1 = document.getElementById("lat1").value;
    var lon1 = document.getElementById("lon1").value;
    var mymap = L.map('map').setView([7.446954, 125.809437], 13);
    var marker = L.marker(new L.LatLng(7.446954, 125.809437), {
        draggable: true
    }).addTo(mymap);

    jQuery(document).ready(function (event) {
        if (lat1 == "None" && lon1 == "None") {
            mymap.setView(new L.LatLng(7.446954, 125.809437), 13)
            marker.setLatLng([7.446954, 125.809437])
        } else {
            mymap.setView(new L.LatLng(lat1, lon1), 15)
            marker.setLatLng([lat1, lon1])
        }
    });
    var popup = L.popup();
    marker.bindPopup("<b>Drag me!</b>").openPopup();
    marker.on('dragend', function (e) {
        var a = marker.getLatLng().lat.toString();
        var b = marker.getLatLng().lng.toString();
        c = Number(a).toFixed(6);
        d = Number(b).toFixed(6);
        marker.bindPopup("<b>Location found.</b>").openPopup();
        document.getElementById("lat1").value = c;
        document.getElementById("lon1").value = d;
    });

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoieWFuaWNhYnMiLCJhIjoiY2tsNnNrcDV0MXhqbjJudDdlaWw0MWp6YiJ9.dAmYJqiMrfyQWY-TJRYZyQ'
    }).addTo(mymap);


    const resultsWrapperHTML = document.getElementById("search-result")

    mymap.on("click", function (e) {
        const { lat, lng } = e.latlng
        // regenerate marker position
        marker.setLatLng([lat, lng])
        var a = marker.getLatLng().lat.toString();
        var b = marker.getLatLng().lng.toString();
        c = Number(a).toFixed(6);
        d = Number(b).toFixed(6);
        marker.bindPopup("<b>Location found.</b>").openPopup();
        document.getElementById("lat1").value = c;
        document.getElementById("lon1").value = d;
    })

    // search location handler
    let typingInterval

    // typing handler
    function onTyping(e) {
        clearInterval(typingInterval)
        const { value } = e

        typingInterval = setInterval(() => {
            clearInterval(typingInterval)
            searchLocation(value)
        }, 500)
    }

    // search handler
    function searchLocation(keyword) {
        if (keyword) {
            // request to nominatim api
            fetch(`https://nominatim.openstreetmap.org/search?q=${keyword}&format=json`)
                .then((response) => {
                    return response.json()
                }).then(json => {
                    // get response data from nominatim
                    console.log("json", json)
                    if (json.length > 0) return renderResults(json)
                    else alert("Location not found.")
                })
        }
    }

    // render results
    function renderResults(result) {
        let resultsHTML = ""

        result.map((n) => {
            resultsHTML += `<li><a href="#" onclick="setLocation(${n.lat},${n.lon})">${n.display_name}</a></li>`
        })

        resultsWrapperHTML.innerHTML = resultsHTML
    }

    // clear results
    function clearResults() {
        resultsWrapperHTML.innerHTML = ""
    }

    // set location from search result
    function setLocation(lat, lon) {
        // set map focus
        mymap.setView(new L.LatLng(lat, lon), 15)

        // regenerate marker position
        marker.setLatLng([lat, lon])
        var a = marker.getLatLng().lat.toString();
        var b = marker.getLatLng().lng.toString();
        c = Number(a).toFixed(6);
        d = Number(b).toFixed(6);
        marker.bindPopup("<b>Location found.</b>").openPopup();
        document.getElementById("lat1").value = c;
        document.getElementById("lon1").value = d;
        // clear results
        clearResults()
    }


    jQuery(document).ready(function (event) {
        // your code here
        var comAdd = document.getElementById("complete_address");
        var addLin = document.getElementById("address_line_2");
        if (comAdd.value == "None") {
            comAdd.value = "";
        }
        if (addLin.value == "None") {
            addLin.value = "";
        }
    });

    function myFunction() {
        var lat = document.getElementById("lat1").value;
        var lon = document.getElementById("lon1").value;
        if (lat == "None" && lon == "None") {
            document.getElementById("srchBox").style = "border: 5px solid red !important;";
            marker.bindPopup("<b style='color: red; font-size: small;'>Drag me or click on the map...</b>").openPopup();
            event.preventDefault();
            alert("Please choose your location...")
        }
    }
</script>
{% endblock extra_scripts %}