{% extends "admin/admin.html" %}  
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="wrapper">
    <div class="page-wrapper">
      <div class="content-wrapper">
        <div class="content">
          <div class="row">
            <div class="col-12">
              <div class="card card-default">
                <div class="card-body">
                    <form method="POST">
                        <br>
                        {% csrf_token %}
                        {{ form.is_active|as_crispy_field }}
                        <button type="submit" class="btn btn-primary">Save &raquo;</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer mt-auto">
        <div class="copyright bg-white">
          <p> &copy; 
            <span id="copy-year">2021</span> Copyright Sulogoon Dashboard    
          </p>
        </div>
      </footer>
    </div>
  </div>
{% endblock content %}