{% extends 'dispatcher/dispatcher.html' %}
{% include "script.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
  #map{
    height: 400px;
    width: 100%;
  }

  input {
    border: 1px solid #ced4da !important;
  }

  * {
    box-sizing: border-box;
  }
</style>

<div class="wrapper">
  <div class="page-wrapper">
    <div class="content-wrapper">
      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-default">
              <div class="card-header card-header-border-bottom d-flex justify-content-between">
                <h2>Distance Calculator</h2>
              </div>

              <div class="mt-2 col-12">
                <h5>Select a starting point, or click on the map.</h5>
                <select class="js-example-basic-single" name="state" style="width: 48.9%;">
                  {% for partnerstore in partnerstore %}
                    <option value="{{partnerstore.store}}">{{partnerstore.store}}</option>
                    ...
                  {% endfor %}
                </select>
                  
                <span>or </span><input class="search-location" type="text" style="width: 48.9%; height: 30px;" placeholder="Search.." oninput="onTyping(this)"/>
                <ul id="search-result"></ul>
                <hr>
                <h5>Select an end point, or click on the map.</h5>
                <select class="js-example-basic-single" name="state" style="width: 48.9%;">
                  {% for partnerstore in partnerstore %}
                    <option value="{{partnerstore.store}}">{{partnerstore.store}}</option>
                    ...
                  {% endfor %}
                </select>
                  
                <span>or </span><input class="search-location" type="text" style="width: 48.9%; height: 30px;" placeholder="Search.." oninput="onTyping(this)"/>
                <ul id="search-result"></ul>
                <br>
                <div id="map"></div>
                <br>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Distance (km)</span>
                  <strong id="res1"></strong>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span>Shipping Rate (Per km)</span>
                  {% for rate in rate %}
                    <input type="hidden" name="rate" id="rate" value="{{rate.shipping_rate}}">
                    <strong>₱ {{rate.shipping_rate}}</strong>
                  {% endfor %}
                </li>

                <li class="list-group-item d-flex justify-content-between">
                  <span>Total</span>
                  <strong id="ttl">₱</strong>
                </li>

                <form method="POST">
                  <br>
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button type="submit" class="btn btn-primary">Reset &raquo;</button>
                </form>

                <input type="hidden" id="lat1" value="{{partnerstore.coordinate.latitude}}">
                <input type="hidden" id="lon1" value="{{partnerstore.coordinate.longitude}}">
                <input type="hidden" name="lat2" id="lat2">
                <input type="hidden" name="lon2" id="lon2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer mt-auto">
      <div class="copyright bg-white">
        <p> &copy; 
          <span id="copy-year">2021</span> Copyright Sulogoon Dashboard    
        </p>
      </div>
    </footer>
  </div>
</div>
{% endblock content %}

{% block extra_scripts %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
    //origin
    var lat1 = document.getElementById("lat1").value;
    var lon1 = document.getElementById("lon1").value;
    var rate = document.getElementById("rate").value;

    var mymap = L.map('map').setView([7.4472, 125.8093], 13);
    var marker = L.marker(new L.LatLng(7.4472, 125.8093), {
      draggable: true
    }).addTo(mymap);
    
    var popup = L.popup();
    marker.bindPopup("<b>Drag me!</b>").openPopup();

    marker.on('dragend', function (e) {
      var a = marker.getLatLng().lat.toString();
      var b = marker.getLatLng().lng.toString();
      c = Number(a).toFixed(6);
      d = Number(b).toFixed(6);
      marker.bindPopup("<b>Location found.</b>").openPopup();
      document.getElementById("lat2").value=c; 
      document.getElementById("lon2").value=d;
      document.getElementById("res1").innerHTML=calcCrow(l1,lo1,l2,lo2).toFixed(1);
    });
      
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 20,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoieWFuaWNhYnMiLCJhIjoiY2tsNnNrcDV0MXhqbjJudDdlaWw0MWp6YiJ9.dAmYJqiMrfyQWY-TJRYZyQ'
    }).addTo(mymap);

    const resultsWrapperHTML = document.getElementById("search-result");

    mymap.on("click", function(e){
      const {lat, lng} = e.latlng
      // regenerate marker position
      marker.setLatLng([lat, lng])
      var a = marker.getLatLng().lat.toString();
      var b = marker.getLatLng().lng.toString();
      c = Number(a).toFixed(6);
      d = Number(b).toFixed(6);
      marker.bindPopup("<b>Location found.</b>").openPopup();
      document.getElementById("lat2").value=c; 
      document.getElementById("lon2").value=d;
      var l1 = document.getElementById("lat1").value;
      var lo1 = document.getElementById("lon1").value;
      var l2 = document.getElementById("lat2").value;
      var lo2 = document.getElementById("lon2").value;        
      document.getElementById("res1").innerHTML=calcCrow(l1,lo1,l2,lo2).toFixed(1);
      var kmtr = document.getElementById("res1").innerHTML;
      kmtr1 = Number(kmtr);
      var total = kmtr1 * rate;
      console.log("km",kmtr1);
      console.log("rate",rate);
      console.log("total",total);
      document.getElementById("ttl").innerHTML = '₱ ' + total + '.00';
    })

    // search location handler
    let typingInterval 

    // typing handler
    function onTyping(e) {
      clearInterval(typingInterval)
      const {value} = e
      typingInterval = setInterval(() => {
        clearInterval(typingInterval)
        searchLocation(value)
      }, 500)
    }

    // search handler
    function searchLocation(keyword) {
      if(keyword) {
        // request to nominatim api
        fetch(`https://nominatim.openstreetmap.org/search?q=${keyword}&format=json`)
        .then((response) => {
          return response.json()
        }).then(json => {
          // get response data from nominatim
          console.log("json", json)
          if(json.length > 0) return renderResults(json)
          else alert("Location not found.")
        })
      }
    }

    // render results
    function renderResults(result) {
      let resultsHTML = ""
      result.map((n) => {
        resultsHTML += `<li><a href="#" onclick="setLocation(${n.lat},${n.lon})">${n.display_name}</a></li>`
      })
      resultsWrapperHTML.innerHTML = resultsHTML
    }

    // clear results
    function clearResults() {
      resultsWrapperHTML.innerHTML = ""
    }

    // set location from search result
    function setLocation(lat, lon) {
      // set map focus
      mymap.setView(new L.LatLng(lat, lon), 15)
      // regenerate marker position
      marker.setLatLng([lat, lon])
      var a = marker.getLatLng().lat.toString();
      var b = marker.getLatLng().lng.toString();
      c = Number(a).toFixed(6);
      d = Number(b).toFixed(6);
      marker.bindPopup("<b>Location found.</b>").openPopup();
      document.getElementById("lat2").value=c; 
      document.getElementById("lon2").value=d;
      // clear results
      clearResults()
    }

    //This function takes in latitude and longitude of two location and returns the distance between them as the crow flies (in km)
    function calcCrow(lat1, lon1, lat2, lon2) {
      var R = 6371; // km
      var dLat = toRad(lat2-lat1);
      var dLon = toRad(lon2-lon1);
      var lat1 = toRad(lat1);
      var lat2 = toRad(lat2);
      var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
      Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
      var d = R * c;
      return d; 
    }

    // Converts numeric degrees to radians
    function toRad(Value) {
      return Value * Math.PI / 180;
    }

    /******************************DROPDOWN*******************************/
    $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
    /******************************DROPDOWN*******************************/
  </script>
{% endblock extra_scripts %}


