{% load static %}

<body>
    <footer>
        <div class="footer_bottom clearfix">
            <div class="container">
                <div class="footer-bottom-inner">
                    <div class="position-footer-bottom">
                        <div class="about-logo"> <a href="#"><img src="{% static 'image/sulogoon/logo.png' %}"
                                    alt="Logo"></a></div>
                    </div>
                    <p class="copyright">Powered By <a href="http://www.yanicabas.com/">Yanicabs</a> Sulogoon &copy;
                        2021</p>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scrollToTop back-to-top" data-toggle="tooltip" title="Top"></a>
</body>