{% load static %}

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sulogoon</title>
	<meta name="description" content="Sulogoon" />
	<script src="{% static 'catalog/view/javascript/jquery/jquery-2.1.1.min.js' %}"></script>
	<link href="{% static 'catalog/view/javascript/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
		media="screen" />
	<script src="{% static 'catalog/view/javascript/bootstrap/js/bootstrap.min.js' %}"></script>
	<link href="{% static 'catalog/view/javascript/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
		type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;display=swap" rel="stylesheet">
	<script src="{% static 'catalog/view/javascript/mahardhi/jquery.elevateZoom.min.js' %}"></script>
	<script src="{% static 'catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'catalog/view/javascript/mahardhi/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'catalog/view/javascript/mahardhi/quickview.js' %}"></script>
	<link href="{% static 'catalog/view/theme/mahardhi/stylesheet/mahardhi/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'catalog/view/theme/mahardhi/stylesheet/mahardhi/owl.theme.default.min.css' %}"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css"
		href="{% static 'catalog/view/javascript/jquery/magnific/magnific-popup.css' %}">
	<script src="{% static 'catalog/view/javascript/mahardhi/mahardhi_search.js' %}"></script>
	<link href="{% static 'assets/plugins/data-tables/datatables.bootstrap4.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/plugins/data-tables/jquery.datatables.min.css' %}" rel="stylesheet" />
	<style>
		:root {
			--primary-color: #222222;
			--primary-hover-color: #ffffff;
			--secondary-color: #79b530;
			--secondary-hover-color: #e01212;
			--secondary-light-color: #7d7d7d;
			--background-color: #f5f5f5;
			--border-color: #dddddd
		}
	</style>
	<link href="{% static 'catalog/view/theme/mahardhi/stylesheet/stylesheet.css' %}" rel="stylesheet">
	<link href="{% static 'catalog/view/theme/mahardhi/stylesheet/mahardhi/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'catalog/view/javascript/jquery/swiper/css/swiper.min.css' %}" type="text/css"
		rel="stylesheet" media="screen" />
	<link href="{% static 'catalog/view/javascript/jquery/swiper/css/opencart.css' %}" type="text/css" rel="stylesheet"
		media="screen" />
	<script src="{% static 'catalog/view/javascript/jquery/swiper/js/swiper.jquery.js' %}"></script>
	<script src="{% static 'catalog/view/javascript/mahardhi/countdown.js' %}"></script>
	<script src="{% static 'catalog/view/javascript/mahardhi/tabs.js' %}"></script>
	<script src="{% static 'catalog/view/javascript/mahardhi/jquery.cookie.js' %}"></script>
	<script src="{% static 'catalog/view/javascript/common.js' %}"></script>
	<script src="{% static 'catalog/view/javascript/mahardhi/jquery-ui.min.js' %}"></script>
	<link rel="stylesheet" type="text/css"
		href="{% static 'catalog/view/theme/mahardhi/stylesheet/mahardhi/jquery-ui.min.css' %}" href="">
	<script src="{% static 'catalog/view/javascript/mahardhi/custom.js' %}"></script>
	<link rel="icon" href="{% static 'image/catalog/cart.png' %}" />

	<link href="{% static 'assets/plugins/data-tables/datatables.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/data-tables/jquery.datatables.min.css' %}" rel="stylesheet" />
	<script src="{% static 'assets/plugins/data-tables/jquery.datatables.min.js' %}"></script>
	<script src="{% static 'assets/plugins/data-tables/datatables.bootstrap4.min.js' %}"></script>





</head>