{% extends 'base1.html' %}
{% load static %}
{% block content %}

<div class="product-product-35">
	<div class="loader"></div>
	<div id="product-page" class="container">
		<ul class="breadcrumb">
			<li><a href="/">home</a></li>
			<li><a href="/shop/">shop</a></li>
			<li><a href="">{{object.name}}</a></li>
		</ul>
		<div class="row">
			<div id="content" class="col-sm-12">
				<h2 class="page_title">{{object.name}}</h2>
				<div class="pro-deatil clearfix row">
					<div class="col-sm-6 product-img">
						<div class="thumbnails">
							<div class="product-additional">
								<div class="pro-image">
									<a href="{{object.image.url}}" title="{{object.name}}"
										class="thumbnail">
										<img src="{{object.image.url}}" title="{{object.name}}"
											id="zoom" alt="{{object.name}}"
											data-zoom-image="{{object.image.url}}" />
									</a>
								</div>

								<div id="additional-carousel" class="owl-carousel owl-theme clearfix">
									<div class="image-additional">
										<a href="{{object.image.url}}" title="{{object.name}}"
											class="elevatezoom-gallery"
											data-image="{{object.image.url}}"
											data-zoom-image="{{object.image.url}}">
											<img src="{{object.image.url}}"
												title="{{object.name}}" alt="{{object.name}}" width="80"
												height="80" />
										</a>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="right_info">
							<h1 class="">{{object.name}}</h1>
							<div class="rating clearfix">
								<div class="product-rating">
									<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
											class="fa fa-star-o fa-stack-1x"></i></span>
									<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
											class="fa fa-star-o fa-stack-1x"></i></span>
									<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
											class="fa fa-star-o fa-stack-1x"></i></span>
									<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
											class="fa fa-star-o fa-stack-1x"></i></span>
									<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
								</div>
								<a href="#" class="reviews"
									onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('.nav-tabs').offset().top}, 800); return false;">1
									reviews</a>
								<a href="#" class="write-review"
									onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('.nav-tabs').offset().top}, 800); return false;"><i
										class="fa fa-pencil" aria-hidden="true"></i>Write a review</a>
							</div>
							<hr>
							<ul class="list-unstyled">
								<li><span class="disc">Product Code:</span><span class="disc1">{{object.slug}}</span></li>
								<li><span class="disc">Availability:</span><span class="disc1">Stock: {{object.stock_no}}</span></li>
							</ul>
							<hr>
							<ul class="list-unstyled">
								<li>
									<span class="pro_price">₱{{object.price}}</span>
								</li>
							</ul>
							<hr>
							<div id="product" class="product-options">
								<h3>Available Options</h3>
								<div class="form-group">
									<label class="control-label qty" for="input-quantity">Qty</label>
									<div class="product-btn-quantity">
										<div class="pro-quantity">
											<div class="minus-plus">
												<button class="minus"><i class="fa fa-minus"></i></button>
												<input type="text" name="quantity" value="1" size="2"
													id="input-quantity" class="form-control" />
												<button class="plus"><i class="fa fa-plus"></i></button>
											</div>
										</div>
										<input type="hidden" name="product_id" value="35" />
										<div class="btn-group button-group">
										<a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary" style="margin: 2px;">Add to Cart</a>
										<a href="{{object.get_remove_from_cart_url}}" class="btn btn-outline-dark" style="margin: 2px; border: solid 3px;">Remove from Cart</a>
										</div>
										
									</div>

								</div>


							</div>
							<hr>
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style"
								data-url="indexfac8.html?route=product/product&amp;product_id=35">
								<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
								<a class="addthis_button_tweet"></a>
								<a class="addthis_button_pinterest_pinit"></a>
								<a class="addthis_counter addthis_pill_style"></a>
							</div>
							<script type="text/javascript"
								src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
							<!-- AddThis Button END -->
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="row pro-tab">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
							<li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-description">
								<p>
									<font face="helvetica,geneva,arial" size="2">
										<font face="Helvetica" size="2">{{object.description_short}} <br>
											<br>
										</font>
									</font>
								</p>
								<h3>
									Features:</h3>
								<p>
									{{object.description_long}}</p>
							</div>
							<div class="tab-pane" id="tab-review">
								<form class="form-horizontal" id="form-review">
									<div id="review"></div>
									<h2>Write a review</h2>
									<div class="form-group required">
										<div class="col-sm-2">
											<label class="control-label" for="input-name">Your Name</label>
										</div>
										<div class="col-sm-10">
											<input type="text" name="name" value="" id="input-name"
												class="form-control" />
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-2">
											<label class="control-label" for="input-review">Your Review</label>
										</div>
										<div class="col-sm-10">
											<textarea name="text" rows="5" id="input-review"
												class="form-control"></textarea>
											<div class="help-block"><span class="text-danger">Note:</span> HTML is not
												translated!</div>
										</div>
									</div>
									<div class="form-group required">
										<div class="col-sm-2">
											<label class="control-label">Rating</label>
										</div>
										<div class="col-sm-10">
											&nbsp;&nbsp;&nbsp; Bad&nbsp;
											<input type="radio" name="rating" value="1" />
											&nbsp;
											<input type="radio" name="rating" value="2" />
											&nbsp;
											<input type="radio" name="rating" value="3" />
											&nbsp;
											<input type="radio" name="rating" value="4" />
											&nbsp;
											<input type="radio" name="rating" value="5" />
											&nbsp;Good
										</div>
									</div>

									<div class="buttons clearfix">
										<div class="pull-right">
											<button type="button" id="button-review" data-loading-text="Loading..."
												class="btn btn-primary">Continue</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

	<!-- M-Custom script -->
	<script>
	// Additional images
	const direction = $('html').attr('dir');

		$('#additional-carousel').each(function () {
			if ($(this).closest('#column-left').length == 0 && $(this).closest('#column-right').length == 0) {
				$(this).addClass('owl-carousel owl-theme');
				const items = $(this).data('items') || 5;
				const sliderOptions = {
					loop: false,
					nav: true,
					navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
					dots: false,
					items: items,
					mouseDrag: false,
					touchDrag: false,
					pullDrag: false,
					rewind: false,
					autoplay: true,
					responsiveRefreshRate: 200,
					responsive: {
						0: { items: 1 },
						320: { items: ((items - 3) > 1) ? (items - 3) : 1 },
						351: { items: ((items - 2) > 1) ? (items - 2) : 1 },
						426: { items: ((items - 1) > 1) ? (items - 1) : 1 },
						768: { items: ((items - 2) > 1) ? (items - 2) : 1 },
						992: { items: ((items - 1) > 1) ? (items - 1) : 1 },
						1200: { items: items }
					}
				};
				if (direction == 'rtl') sliderOptions['rtl'] = true;
				$(this).owlCarousel(sliderOptions);
			}
		});

		$(document).ready(function () {
			if ($(window).width() > 991) {
				$("#zoom").elevateZoom({
					zoomType: "inner",
					cursor: "crosshair",
					gallery: 'additional-carousel',
					galleryActiveClass: 'active'
				});

				var image_index = 0;
				$(document).on('click', '.thumbnail', function () {
					$('.thumbnails').magnificPopup('open', image_index);
					return false;
				});

				$('#additional-carousel a').click(function () {
					var smallImage = $(this).attr('data-image');
					var largeImage = $(this).attr('data-zoom-image');
					var ez = $('#zoom').data('elevateZoom');
					$('.thumbnail').attr('href', largeImage);
					ez.swaptheimage(smallImage, largeImage);
					image_index = $(this).index('#additional-carousel a');
					return false;
				});
			} else {
				$(document).on('click', '.thumbnail', function () {
					$('.thumbnails').magnificPopup('open', 0);
					return false;
				});
			}
		});

		$(document).ready(function () {
			$('.thumbnails').magnificPopup({
				type: 'image',
				delegate: 'a.elevatezoom-gallery', // Mahardhi Edit
				gallery: {
					enabled: true
				}
			});
		});

</script>

{% endblock content %}